body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.hero-background,
.header-background { 
    padding: 8px;
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-background{
    padding: 100px 0px;
}

.header {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 200px;
}

.hero {
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img {
    background-color: #7a7a7a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.img,
.hero-left{
    flex: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.hero button {
    color: white;
    background-color: #3882f6;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
}

.placeholder {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 12px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    gap: 12px;
    text-align: center;
    color: #1f2937
}